// Mouseover effect wipe left to right
.mouseover-ltr {
  @include mouseover-ltr-effect();
}

.mouseover-ltr-gtw {
  @include mouseover-ltr-effect($accent-color-darker1, $color-white);
}

// FLEX UTILITIES
/* Basic Flexbox Centering: Center items both horizontally and vertically */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Row direction with different justifications */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Column direction with different justifications */
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: center;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
