@import "reset";
@import "branding";
@import "sidenav";
@import "mixin";
@import "utility";

body {
  font-family: nunito, sans-serif;
}

header {
  color: $accent-color-lighter1;
  background-color: $color-default;
  padding: 20px;
  text-align: end;
}

h3 {
  margin-top: 0;
}

p {
  font-size: $size-4;
  line-height: 1.5;
}

button {
  background-color: $accent-color-lighter1;
  color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 0.25em 1em;
  font-size: $size-5;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    background-color: $accent-color-darker1;
    transition: all 0.1s ease-in-out;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }
}

#engage,
#create,
#automate,
#design,
#learn {
  width: 80%;
}

.greeting h2 {
  font-size: $size-7;
  font-weight: 700;
  color: $color-default;
  margin: 0;
}

.container-fluid {
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 100%;
}

.panel-default {
  border-color: $accent-color-lighter1;
  // background: linear-gradient(to bottom, $accent-color-darker1, $accent-color-lighter1);
  background: linear-gradient(to bottom, $accent-color-darker1, $accent-color-lighter1);
}

.home-section {
  position: relative;
  // background: linear-gradient(to bottom, $gray-100, $gray-300);
  background: $color-white;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;

  .text {
    display: inline-block;
    color: $color-default;
    font-size: $size-6;
    font-weight: 500;
    margin: 18px;
  }

  .sidebar.open ~ & {
    left: 250px;
    width: calc(100% - 250px);
  }
}
// CARDS

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 60em;
  margin: 0 auto;
}

.card,
.card-large {
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.card {
  // background: $gray-100;
  background: linear-gradient($gray-300 0%, $color-white 12.5%);
  color: $gray-700;
  border-radius: 8px;
  border: 2px solid $gray-200;
  height: 350px;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  // box-shadow: $shadow-elevation-medium;
  // padding: 1em;

  &-large {
    grid-column: span 2;
    height: 420px;
  }

  &-header {
    color: $gray-700;
    border-bottom: 2px solid $gray-100;
    // background-color: $neutral-dark-gray;
    padding: $size-2 $size-4;
    border-radius: 8px 8px 0px 0px;
    h2 {
      font-weight: 700;
      font-size: $size-5;
    }
    i {
      padding: $size-4 $size-4;
      font-size: $size-5;
      &:hover {
        cursor: pointer;
        background-color: $color-white;
        outline: 2px solid $color-second;
        border-radius: 3px;
        transition: all 0.1s ease-in-out;
      }
      &:active {
        transform: translateY(2px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        border-radius: 5px;
      }

      &.active {
        outline: 2px solid $color-second;
        border-radius: 5px;
        background-color: $color-white;
      }
    }
  }

  &-content {
    display: flex;
    padding: 1em;

    & h3 {
      font-size: $size-5;
      font-weight: 700;
    }

    & a {
      gap: 1em;
      padding: 0.5em 0.25em;
      &:hover {
        cursor: pointer;
        background-color: $color-white;
        outline: 2px solid $color-second;
        border-radius: 3px;
        transition: all 0.1s ease-in-out;
      }
      &:active {
        transform: translateY(2px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        border-radius: 5px;
      }
      &.active {
        outline: 2px solid $color-second;
        border-radius: 5px;
        background-color: $color-white;
      }
    }

    & i {
      font-size: $size-5;
      padding-right: 1em;
    }
  }

  &-20-contacts {
    margin: 0em 1em 2em 1em;
  }

  &-column {
    margin-right: 4%;
    flex: 1;
    height: 320px;

    ul li {
      height: 100%;

      a {
        height: 100%;
        color: $color-white;
        background-color: $accent-color-lighter1;
      }
    }
  }

  &-recent-content {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;
  }

  &-recent-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1em;
    gap: 1em;
    & i {
      font-size: $size-6;
    }
    & a {
      // gap: 1em;
      // padding: 0.5em 0.25em;
      &:hover {
        cursor: pointer;
        background-color: $color-white;
        outline: 2px solid $color-second;
        border-radius: 3px;
        transition: all 0.1s ease-in-out;
      }
      &:active {
        transform: translateY(2px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        border-radius: 5px;
      }
      &.active {
        outline: 2px solid $color-second;
        border-radius: 5px;
        background-color: $color-white;
      }
    }
  }
}

.actions-list-left,
.actions-list-center,
.actions-list-right {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 8px;
    height: 100%;
    flex: 1;
    transition: all 0.4s ease;
    transform: scaleX(1);

    li a {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

.actions-list-item {
  display: flex;
  flex-direction: column;

  &-title {
    display: flex;
    flex-direction: row;
    // align-items: center;
    gap: 1em;
  }
  & h3 {
    font-size: $size-4;
    font-weight: 700;
  }
}

// .bx-search {
// position: absolute;
// top: 50%;
// left: 0;
// transform: translateY(-50%);
// font-size: 22px;
// background-color: #2e2e2e;
// color: #fff;
// height: 35px;
// width: 35px;
// border-radius: 5px;
// }

.flex-align-center {
  display: flex;
  align-items: center;
}

// STYLES FOR THE TOP 20 CONTACTS CARD
.piechart {
  margin-block: $size-8;
  // display: block;
  // position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient($color-light 70deg, $complementary-color 0 235deg, $dark-accent-color 0);
}

/* Base styles for modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black
  z-index: 999; // Ensures the overlay is below the modal but above other content
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  right: 30%;
  top: 10%;
  width: 500px;
  // height: 500px;
  overflow: auto;
  // background-color: rgba(0, 0, 0, 0.4);
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;

  // Nested styles for modal-content
  .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    // width: 80%;

    & .flex-col-between {
      gap: 1em;

      & :nth-child(1) {
        gap: 1em;
      }
    }

    & .flex-col-stretch {
      gap: 1em;
    }
  }
}

/* Base styles for close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  // Pseudo-classes for hover and focus states
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
