@import "reset";
@import "branding";
@import "sidenav";
@import "mixin";
@import "utility";

body {
  font-family: nunito, sans-serif;
}

header {
  color: $accent-color-lighter1;
  background-color: $color-default;
  padding: 20px;
  text-align: end;
}

h3 {
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.container-fluid {
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 100%;
}

.panel-default {
  border-color: $accent-color-lighter1;
  background: linear-gradient(to bottom, $accent-color-darker1, $accent-color-lighter1);
}

// CARDS

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 60em;
  margin: 0 auto;
}

.card {
  background: $color-default;
  color: $color-white;
  border-radius: 5px;
  box-shadow: $shadow-elevation-medium;

  &-large {
    grid-column: span 2;
  }

  &-header {
    border-bottom: 1px solid $dark-text-color;
    padding: 1em;
  }

  &-content {
    display: flex;
    padding: 1em;
  }

  &-column {
    margin-right: 4%;
    flex: 1;

    ul li {
      height: 100%;

      a {
        height: 100%;
        color: $color-white;
        background-color: $accent-color-lighter1;
      }
    }
  }
}

.actions-list-left,
.actions-list-center,
.actions-list-right {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 8px;
    height: 100%;
    flex: 1;
    transition: all 0.4s ease;
    transform: scaleX(1);

    li a {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

.actions-list-item {
  display: flex;
  flex-direction: column;

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}

// .bx-search {
// position: absolute;
// top: 50%;
// left: 0;
// transform: translateY(-50%);
// font-size: 22px;
// background-color: #2e2e2e;
// color: #fff;
// height: 35px;
// width: 35px;
// border-radius: 5px;
// }

.flex-align-center {
  display: flex;
  align-items: center;
}

.home-section {
  position: relative;
  background: linear-gradient(to bottom, $color-light, $color-white);
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;

  .text {
    display: inline-block;
    color: $color-default;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }

  .sidebar.open ~ & {
    left: 250px;
    width: calc(100% - 250px);
  }
}
