*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
}
a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.sidebar.open #btn {
  text-align: right;
}

.sidebar.open input {
  width: 100%;
  padding: 10px 20px 10px 60px;
  opacity: 1;
  z-index: -1;
}

.sidebar.open li a .link_name,
.sidebar.open .fa-cog {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar.open {
  width: 250px;
}

.sidebar {
  min-height: 100vh;
  width: 80px;
  padding: 6px 14px;
  z-index: 99;
  background-color: #1abc9c;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #4ecfbf;
}

.logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_details .icon,
.logo_details .logo_name {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo_name {
  opacity: 1;
}

/* .logo_name styles nested inside .logo_details which is nested inside .sidebar */
#btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* .icon and .logo_name styles nested inside .logo_details which is nested inside .sidebar.open */
.sidebar .nav-list {
  margin-top: 20px;
}

.nav-list-item,
.search-bar {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.search-bar input {
  width: 100%;
  padding: 10px 20px 10px 60px;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 35px;
  border: 2px solid #7e7e7e;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.sidebar input {
  background-color: #7e7e7e;
  opacity: 0;
}
.sidebar input::-moz-placeholder {
  color: #e0e0e0;
}
.sidebar input::placeholder {
  color: #e0e0e0;
}

.sidebar input.open {
  text-align: right;
}

.nav-list-item:hover .tooltip,
.search-bar:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list-item-icon {
  color: #fff;
  min-width: 50px;
  text-align: center;
  height: 35px;
  line-height: 35px !important;
  font-size: 1.25rem;
  border-radius: 5px;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li .tooltip.open {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: #4ecfbf;
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #1abc9c;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
  color: #1abc9c;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a .link_name,
.sidebar li a .fa-cog {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar.open li a .link_name,
.sidebar.open li a .fa-cog {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  transition: all 0.5s ease;
}

.sidebar li.profile .profile_details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li.profile img {
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .designation {
  font-size: 12px;
}

.sidebar.open li.profile {
  width: 250px;
}

.bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #2e2e2e;
  color: #fff;
  line-height: 35px !important;
  text-align: center;
  font-size: 1.5rem;
  background-color: #2e2e2e;
  color: #fff;
  height: 35px;
  width: 50px;
  border-radius: 5px;
  z-index: 100;
}

.profile-img {
  position: relative;
  left: -6px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
  border: 2px solid var(--light-text-color);
  background: conic-gradient(#1abc9c 0% 25%, #bc1a4b 25% 50%, #f9d6c1 50% 75%, #7e7e7e 75% 100%);
  box-sizing: content-box;
}

.profile-img {
  position: relative;
  left: -6px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #7e7e7e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 1;
}
footer p {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 400;
}
.sidebar.open ~ footer {
  left: 250px;
  width: calc(100% - 250px);
}

.mouseover-ltr {
  position: relative;
  overflow: hidden;
}
.mouseover-ltr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}
.mouseover-ltr:hover::after {
  transform: scaleX(1);
  color: #1abc9c;
}
.mouseover-ltr:hover .link_name,
.mouseover-ltr:hover i {
  transition: all 0.5s ease;
  color: #1abc9c;
}

.mouseover-ltr-gtw {
  position: relative;
  overflow: hidden;
}
.mouseover-ltr-gtw::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: #179b89;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}
.mouseover-ltr-gtw:hover::after {
  transform: scaleX(1);
  color: #fff;
}
.mouseover-ltr-gtw:hover .link_name,
.mouseover-ltr-gtw:hover i {
  transition: all 0.5s ease;
  color: #fff;
}

/* Basic Flexbox Centering: Center items both horizontally and vertically */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Row direction with different justifications */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Column direction with different justifications */
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body {
  font-family: nunito, sans-serif;
}

header {
  color: #4ecfbf;
  background-color: #1abc9c;
  padding: 20px;
  text-align: end;
}

h3 {
  margin-top: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.container-fluid {
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

.panel-default {
  border-color: #4ecfbf;
  background: linear-gradient(to bottom, #179b89, #4ecfbf);
}

.home-section {
  position: relative;
  background: #fff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.home-section .text {
  display: inline-block;
  color: #1abc9c;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 60em;
  margin: 0 auto;
}

.card {
  background: linear-gradient(#d1d1d1 0%, #fff 12.5%);
  color: #6a6a6a;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.card-large {
  grid-column: span 2;
}
.card-header {
  color: #6a6a6a;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5rem 1rem;
  border-radius: 8px 8px 0px 0px;
}
.card-header h2 {
  font-weight: 700;
  font-size: 1.25rem;
}
.card-header i {
  padding: 1rem 1rem;
  font-size: 1.25rem;
}
.card-header i:hover {
  cursor: pointer;
  background-color: #fff;
  outline: 2px solid #0067ac;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.card-header i:active {
  transform: translateY(2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}
.card-header i.active {
  outline: 2px solid #0067ac;
  border-radius: 5px;
  background-color: #fff;
}
.card-content {
  display: flex;
  padding: 1em;
}
.card-column {
  margin-right: 4%;
  flex: 1;
}
.card-column ul li {
  height: 100%;
}
.card-column ul li a {
  height: 100%;
  color: #fff;
  background-color: #4ecfbf;
}

.actions-list-left ul,
.actions-list-center ul,
.actions-list-right ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  gap: 8px;
  height: 100%;
  flex: 1;
  transition: all 0.4s ease;
  transform: scaleX(1);
}
.actions-list-left ul li a,
.actions-list-center ul li a,
.actions-list-right ul li a {
  display: flex;
  align-items: center;
  gap: 1em;
}

.actions-list-item {
  display: flex;
  flex-direction: column;
}
.actions-list-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.piechart {
  margin-block: 2rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(#e0e0e0 70deg, #bc1a4b 0 235deg, #15967c 0);
}

.with-circle-light:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.with-circle-complementary:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bc1a4b;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.with-circle-dark-accent:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #15967c;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */